<!-- Main -->
<div class="bg-white w-full h-screen overflow-auto">
  <!-- Header -->
  <div class="p-2 bg-gray-950 text-white w-full grid grid-cols-5 fixed">
    <div class="p-2 text-center">LOGO</div>
    <div class="col-span-3 text-center m-auto">
      <ul>
        <li
          class="float-left p-2 h-full hover:bg-white hover:text-gray-950 cursor-pointer transition-all"
        >
          AYUDA
        </li>
        <li
          class="float-left p-2 hover:bg-white hover:text-gray-950 cursor-pointer transition-all"
        >
          PROPIEDADES
        </li>
        <li
          class="float-left p-2 hover:bg-white hover:text-gray-950 cursor-pointer transition-all"
        >
          CONTACTANOS
        </li>
      </ul>
    </div>
    <div>
      <div class="text-center m-auto p-2">
        <input
          class="pl-2 outline-none bg-white text-black text-md"
          placeholder="Buscar propiedades"
        />
      </div>
    </div>
  </div>

  <!-- Carrousel -->
  <div id="default-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="../../assets/images/banner.jpg"
          class="absolute block w-full "
          alt="..."
        />
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="../../assets/images/banner2.jpg"
          class="absolute block w-full"
          alt="..."
        />
      </div>
    </div>
  </div>

</div>
